<a href="https://colab.research.google.com/github/itsRajatkumar/MachineLearning/blob/main/02MLPythonBasics2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Pandas Lib

---
Read Data

In [124]:
import pandas as pd
import numpy as np

df=pd.read_csv('https://support.spatialkey.com/wp-content/uploads/2021/02/Sacramentorealestatetransactions.csv')

Copy Files

In [125]:
cpy=df.copy()
print(cpy)

                  street             city    zip  ...   price   latitude   longitude
0           3526 HIGH ST       SACRAMENTO  95838  ...   59222  38.631913 -121.434879
1            51 OMAHA CT       SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  95824  ...   81900  38.519470 -121.435768
..                   ...              ...    ...  ...     ...        ...         ...
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[985 rows x 12 columns]

<h2>Display Data

In [126]:
print(df.head())        #by default 5 rows
print(df.head(3))       # we can pass row value


print(df.tail())        #by default 5 rows
print(df.tail(4))        # we can pass row value

             street        city    zip  ...  price   latitude   longitude
0      3526 HIGH ST  SACRAMENTO  95838  ...  59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823  ...  68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815  ...  69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824  ...  81900  38.519470 -121.435768

[5 rows x 12 columns]
           street        city    zip  ...  price   latitude   longitude
0    3526 HIGH ST  SACRAMENTO  95838  ...  59222  38.631913 -121.434879
1     51 OMAHA CT  SACRAMENTO  95823  ...  68212  38.478902 -121.431028
2  2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839

[3 rows x 12 columns]
                  street             city    zip  ...   price   latitude   longitude
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[5 rows x 12 columns]
                  street             city    zip  ...   price   latitude   longitude
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[4 rows x 12 columns]

Shape of Data

In [127]:
print(df.shape)

(985, 12)

In [128]:
print(df.dtypes)

print(df.columns)

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object
Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

Describe Data

In [129]:

print(df.describe())

                zip        beds  ...    latitude   longitude
count    985.000000  985.000000  ...  985.000000  985.000000
mean   95750.697462    2.911675  ...   38.607732 -121.355982
std       85.176072    1.307932  ...    0.145433    0.138278
min    95603.000000    0.000000  ...   38.241514 -121.551704
25%    95660.000000    2.000000  ...   38.482717 -121.446127
50%    95762.000000    3.000000  ...   38.626582 -121.376220
75%    95828.000000    4.000000  ...   38.695589 -121.295778
max    95864.000000    8.000000  ...   39.020808 -120.597599

[8 rows x 7 columns]

Changing Column Header

In [130]:
df.columns =['Street', 'City', 'Zip', 'State', 'Beds', 'Baths', 'Sq__ft', 'Type','Sale_date', 'Price', 'Latitude', 'Longitude']
print(df.head())

             Street        City    Zip  ...  Price   Latitude   Longitude
0      3526 HIGH ST  SACRAMENTO  95838  ...  59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823  ...  68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815  ...  69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824  ...  81900  38.519470 -121.435768

[5 rows x 12 columns]

In [131]:
print(df.City)

0           SACRAMENTO
1           SACRAMENTO
2           SACRAMENTO
3           SACRAMENTO
4           SACRAMENTO
            ...
980         SACRAMENTO
981         SACRAMENTO
982     CITRUS HEIGHTS
983          ELK GROVE
984    EL DORADO HILLS
Name: City, Length: 985, dtype: object

Null Values

In [132]:
print(df.isnull())

print(df.isnull().sum())

     Street   City    Zip  State  ...  Sale_date  Price  Latitude  Longitude
0     False  False  False  False  ...      False  False     False      False
1     False  False  False  False  ...      False  False     False      False
2     False  False  False  False  ...      False  False     False      False
3     False  False  False  False  ...      False  False     False      False
4     False  False  False  False  ...      False  False     False      False
..      ...    ...    ...    ...  ...        ...    ...       ...        ...
980   False  False  False  False  ...      False  False     False      False
981   False  False  False  False  ...      False  False     False      False
982   False  False  False  False  ...      False  False     False      False
983   False  False  False  False  ...      False  False     False      False
984   False  False  False  False  ...      False  False     False      False

[985 rows x 12 columns]
Street       0
City         0
Zip          0
State        0
Beds         0
Baths        0
Sq__ft       0
Type         0
Sale_date    0
Price        0
Latitude     0
Longitude    0
dtype: int64

Sliced Part Of Dataframe

In [133]:
slcprt=df.iloc[2:6,4:9]
print(slcprt)

   Beds  Baths  Sq__ft         Type                     Sale_date
2     2      1     796  Residential  Wed May 21 00:00:00 EDT 2008
3     2      1     852  Residential  Wed May 21 00:00:00 EDT 2008
4     2      1     797  Residential  Wed May 21 00:00:00 EDT 2008
5     3      1    1122        Condo  Wed May 21 00:00:00 EDT 2008

<h1>Data Manupulation

In [134]:
a=df.drop(0)
print(a)
print(df)

                  Street             City    Zip  ...   Price   Latitude   Longitude
1            51 OMAHA CT       SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  95824  ...   81900  38.519470 -121.435768
5     5828 PEPPERMILL CT       SACRAMENTO  95841  ...   89921  38.662595 -121.327813
..                   ...              ...    ...  ...     ...        ...         ...
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[984 rows x 12 columns]
                  Street             City    Zip  ...   Price   Latitude   Longitude
0           3526 HIGH ST       SACRAMENTO  95838  ...   59222  38.631913 -121.434879
1            51 OMAHA CT       SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  95824  ...   81900  38.519470 -121.435768
..                   ...              ...    ...  ...     ...        ...         ...
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[985 rows x 12 columns]

Data Manupulation in MAin File

In [135]:
df.drop(5, inplace=True)
print(df)

df.drop(df.index[0] , inplace=True)
print(df)

                  Street             City    Zip  ...   Price   Latitude   Longitude
0           3526 HIGH ST       SACRAMENTO  95838  ...   59222  38.631913 -121.434879
1            51 OMAHA CT       SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  95824  ...   81900  38.519470 -121.435768
..                   ...              ...    ...  ...     ...        ...         ...
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[984 rows x 12 columns]
                  Street             City    Zip  ...   Price   Latitude   Longitude
1            51 OMAHA CT       SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  95824  ...   81900  38.519470 -121.435768
6    6048 OGDEN NASH WAY       SACRAMENTO  95842  ...   90895  38.681659 -121.351705
..                   ...              ...    ...  ...     ...        ...         ...
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[983 rows x 12 columns]

Index

In [136]:
print(df.index)


print(df.index[45])

Int64Index([  1,   2,   3,   4,   6,   7,   8,   9,  10,  11,
            ...
            975, 976, 977, 978, 979, 980, 981, 982, 983, 984],
           dtype='int64', length=983)
47

In [137]:
print(df.Zip>95800)
print(df[df.Zip>95800])

1       True
2       True
3       True
4       True
6       True
       ...
980     True
981     True
982    False
983    False
984    False
Name: Zip, Length: 983, dtype: bool
                   Street        City    Zip  ...   Price   Latitude   Longitude
1             51 OMAHA CT  SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2          2796 BRANCH ST  SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3        2805 JANETTE WAY  SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4         6001 MCMAHON DR  SACRAMENTO  95824  ...   81900  38.519470 -121.435768
6     6048 OGDEN NASH WAY  SACRAMENTO  95842  ...   90895  38.681659 -121.351705
..                    ...         ...    ...  ...     ...        ...         ...
971  3528 SAINT GEORGE DR  SACRAMENTO  95821  ...  224000  38.629468 -121.376445
977       5 BISHOPGATE CT  SACRAMENTO  95823  ...  229500  38.467936 -121.445477
978      5601 REXLEIGH DR  SACRAMENTO  95823  ...  230000  38.445342 -121.441504
980    9169 GARLINGTON CT  SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981       6932 RUSKUT WAY  SACRAMENTO  95823  ...  234000  38.499893 -121.458890

[470 rows x 12 columns]

In [138]:
print(df[df.City=='SACRAMENTO'])


print((df[df.City=='SACRAMENTO']).describe())

                   Street        City    Zip  ...   Price   Latitude   Longitude
1             51 OMAHA CT  SACRAMENTO  95823  ...   68212  38.478902 -121.431028
2          2796 BRANCH ST  SACRAMENTO  95815  ...   68880  38.618305 -121.443839
3        2805 JANETTE WAY  SACRAMENTO  95815  ...   69307  38.616835 -121.439146
4         6001 MCMAHON DR  SACRAMENTO  95824  ...   81900  38.519470 -121.435768
6     6048 OGDEN NASH WAY  SACRAMENTO  95842  ...   90895  38.681659 -121.351705
..                    ...         ...    ...  ...     ...        ...         ...
971  3528 SAINT GEORGE DR  SACRAMENTO  95821  ...  224000  38.629468 -121.376445
977       5 BISHOPGATE CT  SACRAMENTO  95823  ...  229500  38.467936 -121.445477
978      5601 REXLEIGH DR  SACRAMENTO  95823  ...  230000  38.445342 -121.441504
980    9169 GARLINGTON CT  SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981       6932 RUSKUT WAY  SACRAMENTO  95823  ...  234000  38.499893 -121.458890

[437 rows x 12 columns]
                Zip        Beds  ...    Latitude   Longitude
count    437.000000  437.000000  ...  437.000000  437.000000
mean   95828.361556    3.029748  ...   38.561778 -121.443341
std        8.287671    1.027839  ...    0.078079    0.057349
min    95811.000000    0.000000  ...   38.440040 -121.551704
25%    95823.000000    3.000000  ...   38.484030 -121.487289
50%    95828.000000    3.000000  ...   38.555781 -121.445371
75%    95834.000000    4.000000  ...   38.635232 -121.408288
max    95864.000000    8.000000  ...   38.700051 -121.309243

[8 rows x 7 columns]

Loc And Iloc

In [139]:
print(df.loc[45])
print(df.iloc[45])

Street                       2622 ERIN DR
City                           SACRAMENTO
Zip                                 95833
State                                  CA
Beds                                    4
Baths                                   1
Sq__ft                               1120
Type                          Residential
Sale_date    Wed May 21 00:00:00 EDT 2008
Price                              164000
Latitude                          38.6138
Longitude                        -121.489
Name: 45, dtype: object
Street                     7420 ALIX PKWY
City                           SACRAMENTO
Zip                                 95823
State                                  CA
Beds                                    4
Baths                                   1
Sq__ft                               1955
Type                          Residential
Sale_date    Wed May 21 00:00:00 EDT 2008
Price                              166357
Latitude                          38.4894
Longitude                        -121.453
Name: 47, dtype: object

Adding Row Into DataFrame

In [140]:
df.loc[0]=['Central Area','Udaipur',313001,'Rajsthan',8,3,5000,'Residential','Wed May 21 00:00:00 EDT 2008',205455,23.45,-344.898]

In [141]:
print(df.tail())

                  Street             City  ...   Latitude   Longitude
981      6932 RUSKUT WAY       SACRAMENTO  ...  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  ...  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  ...  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  ...  38.655245 -121.075915
0           Central Area          Udaipur  ...  23.450000 -344.898000

[5 rows x 12 columns]

Reset Indexing

In [142]:
df.reset_index()

df.reset_index(drop=True)
print(df)

df.reset_index(drop=True,inplace=True)
print(df)

                  Street             City  ...   Latitude   Longitude
1            51 OMAHA CT       SACRAMENTO  ...  38.478902 -121.431028
2         2796 BRANCH ST       SACRAMENTO  ...  38.618305 -121.443839
3       2805 JANETTE WAY       SACRAMENTO  ...  38.616835 -121.439146
4        6001 MCMAHON DR       SACRAMENTO  ...  38.519470 -121.435768
6    6048 OGDEN NASH WAY       SACRAMENTO  ...  38.681659 -121.351705
..                   ...              ...  ...        ...         ...
981      6932 RUSKUT WAY       SACRAMENTO  ...  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  ...  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  ...  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  ...  38.655245 -121.075915
0           Central Area          Udaipur  ...  23.450000 -344.898000

[984 rows x 12 columns]
                  Street             City  ...   Latitude   Longitude
0            51 OMAHA CT       SACRAMENTO  ...  38.478902 -121.431028
1         2796 BRANCH ST       SACRAMENTO  ...  38.618305 -121.443839
2       2805 JANETTE WAY       SACRAMENTO  ...  38.616835 -121.439146
3        6001 MCMAHON DR       SACRAMENTO  ...  38.519470 -121.435768
4    6048 OGDEN NASH WAY       SACRAMENTO  ...  38.681659 -121.351705
..                   ...              ...  ...        ...         ...
979      6932 RUSKUT WAY       SACRAMENTO  ...  38.499893 -121.458890
980    7933 DAFFODIL WAY   CITRUS HEIGHTS  ...  38.708824 -121.256803
981     8304 RED FOX WAY        ELK GROVE  ...  38.417000 -121.397424
982  3882 YELLOWSTONE LN  EL DORADO HILLS  ...  38.655245 -121.075915
983         Central Area          Udaipur  ...  23.450000 -344.898000

[984 rows x 12 columns]

In [143]:
df.index

RangeIndex(start=0, stop=984, step=1)

Manupuletting Column

In [144]:
df.drop('Longitude', axis=1 ,inplace=True)
print(df)

                  Street             City  ...   Price   Latitude
0            51 OMAHA CT       SACRAMENTO  ...   68212  38.478902
1         2796 BRANCH ST       SACRAMENTO  ...   68880  38.618305
2       2805 JANETTE WAY       SACRAMENTO  ...   69307  38.616835
3        6001 MCMAHON DR       SACRAMENTO  ...   81900  38.519470
4    6048 OGDEN NASH WAY       SACRAMENTO  ...   90895  38.681659
..                   ...              ...  ...     ...        ...
979      6932 RUSKUT WAY       SACRAMENTO  ...  234000  38.499893
980    7933 DAFFODIL WAY   CITRUS HEIGHTS  ...  235000  38.708824
981     8304 RED FOX WAY        ELK GROVE  ...  235301  38.417000
982  3882 YELLOWSTONE LN  EL DORADO HILLS  ...  235738  38.655245
983         Central Area          Udaipur  ...  205455  23.450000

[984 rows x 11 columns]

In [145]:

del df["Latitude"]
print(df)

                  Street             City  ...                     Sale_date   Price
0            51 OMAHA CT       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   68212
1         2796 BRANCH ST       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   68880
2       2805 JANETTE WAY       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   69307
3        6001 MCMAHON DR       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   81900
4    6048 OGDEN NASH WAY       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   90895
..                   ...              ...  ...                           ...     ...
979      6932 RUSKUT WAY       SACRAMENTO  ...  Thu May 15 00:00:00 EDT 2008  234000
980    7933 DAFFODIL WAY   CITRUS HEIGHTS  ...  Thu May 15 00:00:00 EDT 2008  235000
981     8304 RED FOX WAY        ELK GROVE  ...  Thu May 15 00:00:00 EDT 2008  235301
982  3882 YELLOWSTONE LN  EL DORADO HILLS  ...  Thu May 15 00:00:00 EDT 2008  235738
983         Central Area          Udaipur  ...  Wed May 21 00:00:00 EDT 2008  205455

[984 rows x 10 columns]

<h1>Handling NaN Values

In [146]:
#firstly we create sum nan values because we dont have any nan values.
df.iloc[2:6,1:4]= np.nan
print(df.head)

<bound method NDFrame.head of                   Street             City  ...                     Sale_date   Price
0            51 OMAHA CT       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   68212
1         2796 BRANCH ST       SACRAMENTO  ...  Wed May 21 00:00:00 EDT 2008   68880
2       2805 JANETTE WAY              NaN  ...  Wed May 21 00:00:00 EDT 2008   69307
3        6001 MCMAHON DR              NaN  ...  Wed May 21 00:00:00 EDT 2008   81900
4    6048 OGDEN NASH WAY              NaN  ...  Wed May 21 00:00:00 EDT 2008   90895
..                   ...              ...  ...                           ...     ...
979      6932 RUSKUT WAY       SACRAMENTO  ...  Thu May 15 00:00:00 EDT 2008  234000
980    7933 DAFFODIL WAY   CITRUS HEIGHTS  ...  Thu May 15 00:00:00 EDT 2008  235000
981     8304 RED FOX WAY        ELK GROVE  ...  Thu May 15 00:00:00 EDT 2008  235301
982  3882 YELLOWSTONE LN  EL DORADO HILLS  ...  Thu May 15 00:00:00 EDT 2008  235738
983         Central Area          Udaipur  ...  Wed May 21 00:00:00 EDT 2008  205455

[984 rows x 10 columns]>

In [147]:
df.dropna(inplace=True)
print(df)

                              Street  ...   Price
0                        51 OMAHA CT  ...   68212
1                     2796 BRANCH ST  ...   68880
6    11150 TRINITY RIVER DR Unit 114  ...   94905
7                       7325 10TH ST  ...   98937
8                   645 MORRISON AVE  ...  100309
..                               ...  ...     ...
979                  6932 RUSKUT WAY  ...  234000
980                7933 DAFFODIL WAY  ...  235000
981                 8304 RED FOX WAY  ...  235301
982              3882 YELLOWSTONE LN  ...  235738
983                     Central Area  ...  205455

[980 rows x 10 columns]

In [148]:
df.City.fillna('Udaipur',inplace=True)
print(df.head())

                            Street  ...   Price
0                      51 OMAHA CT  ...   68212
1                   2796 BRANCH ST  ...   68880
6  11150 TRINITY RIVER DR Unit 114  ...   94905
7                     7325 10TH ST  ...   98937
8                 645 MORRISON AVE  ...  100309

[5 rows x 10 columns]

Hendling Strings In Data

In [149]:
def f(s):
    if s=='Residential' :
        return 0
    elif s=='Multi-Family':
        return 1
    else:
        return 2


df["Status"]=df.Type.apply(f)
df.head()

                            Street            City  ...   Price Status
0                      51 OMAHA CT      SACRAMENTO  ...   68212      0
1                   2796 BRANCH ST      SACRAMENTO  ...   68880      0
6  11150 TRINITY RIVER DR Unit 114  RANCHO CORDOVA  ...   94905      2
7                     7325 10TH ST       RIO LINDA  ...   98937      0
8                 645 MORRISON AVE      SACRAMENTO  ...  100309      0

[5 rows x 11 columns]